#axure {
    padding: 70px 0 40px;
    background: url(../img/background_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

}
#axure::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0.55);
    top: 0;
    left: 0;

}

.container_axure {
    position: relative;
    z-index: 1;

}

.titleW {
    color:#ffff;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 34px;
    font-family: 'Raleway';
    font-weight: 400;
    margin-bottom: 34px;
}

.axure__text {
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 34px;
    margin-bottom: 62px;
    font-family: 'Open Sans';
    font-weight: 100;
}

.axure__text::before{
    content: '';
    display: block;
    margin: auto;
    width: 64px;
    height: 2px;
    background-color: #FFFFFF;
    margin-bottom: 34px;
}

.button {
    width: 135px;
    line-height: 42px;
    border: 1px solid #FFFFFF;
    text-align: center;
    cursor: pointer;
    margin: auto;
    

}
.button a{
    color:#ffffff;
    font-family:'Open Sans', sans-serif;
    font-weight: 600;
    padding: 10px 27px;


}