#pricing{
    padding: 80px 0;
    background-color: #F5F5F5;
}

.pricing__text {
    font-size: 14px;
    text-align: center;
    color: #86878B;
    margin-top: 34px;
    margin-bottom: 62px;
    font-family: 'Open Sans';
    font-weight: 100;
}

.pricing__text::before{
    content: '';
    width: 64px;
    height: 2px;
    background-color: #E72424;
    display: block;
    margin: auto;
    margin-bottom: 34px;

}

.pricing__wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.list {
    text-align: center;
    margin: 0 15px;
    
    
}
.list__tariff {
    line-height: 50px;
    width: 350px;
    background-color: #333333;
    margin-bottom: 2px;
    font-size: 20px;
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-weight: 700;
}
.list__cost {
    line-height: 100px;
    width: 350px;
    background-color: #333333;
    margin-bottom: 2px;
    font-size: 35px;
    color: #FFFFFF;
    font-family: 'Raleway';
    font-weight: 700;
}
.list__free {
    line-height: 50px;
    width: 350px;
    background-color: #333333;
    margin-bottom: 2px;
    font-size: 14px;
    color: #FFFFFF80;
    font-family: 'Open Sans';
    font-weight: 600;
    
}
.list__gb {
    line-height: 40px;
    width: 350px;
    background-color: #FFFFFF;
    margin-bottom: 2px;
    font-size: 14px;
    color: #86878B;
    font-family: 'Open Sans';
    font-weight: 400;
}